# Task 2: Segmenting and Clustering Neighborhoods in Toronto

#### Using the csv file that has the geographical coordinates of each postal code to create a dataframe

In [1]:
import io
import requests # library to handle requests
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

In [2]:
toronto_postal = pd.read_csv('Toronto.TASK_1_df.csv')
toronto_postal.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [3]:
# csv file Url
url="http://cocl.us/Geospatial_data"
source =requests.get(url).content
geo_coord =pd.read_csv(io.StringIO(source.decode('utf-8')))
geo_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
# rename the first column to allow merging dataframes on Postcode
geo_coord.columns = ['Postal code', 'Latitude', 'Longitude']
toronto_neighborhoods = pd.merge(toronto_postal, geo_coord, on='Postal code')
toronto_neighborhoods.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [5]:
toronto_neighborhoods.to_csv('Toronto.TASK_2_df.csv',index=False)

In [6]:
toronto_neighborhoods.shape

(103, 5)